@charset "UTF-8";

.mgui-editor {
  font-family: "Arial", sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.mgui-editor-toolbar {
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: #3a3a3a;
  border-bottom: 1px solid #929292;
  align-items: center;
}

.mgui-editor-footer {
  padding: 10px;
  width: 100%;
  background-color: #3a3a3a;
  border-top: 1px solid #e1e1e1;
  align-items: center;
}

.mgui-editor-main-window {
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mgui-editor-graphcanvas {
  padding: 0px;
  background-color: #303030;
  height: 100%;
  width: 100%;
}

.mgui-toolbar-button {
  margin: 5px !important;
}

.mgui-editor-main-window {
  position: relative;
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-height: 100%;
  padding: 10px;
}

.litegraph.lite-search-item {
  padding-left: 10px;
  cursor: pointer;
}

.litegraph.litesearchbox {
  background-color: rgb(74 74 74);
  box-shadow: 0 0 2px #ffffff !important;
}

.litegraph.litesearchbox .name {
  color: #ffffff;
}

.graphdialog input,
.graphdialog textarea,
.graphdialog select,
.graphdialog button {
  margin: 3px !important;
}

.graphdialog .name {
  color: white;
}
