.mgui-editor {
  font-family: "Arial", sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.mgui-editor-toolbar {
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: #3a3a3a;
  border-bottom: 1px solid #929292;
  align-items: center;
}

.mgui-editor-footer {
  padding: 10px;
  width: 100%;
  background-color: #3a3a3a;
  border-top: 1px solid #e1e1e1;
  align-items: center;
}

.mgui-editor-main-window {
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mgui-editor-graphcanvas {
  padding: 0px;
  background-color: #303030;
  height: 100%;
  width: 100%;
}

.mgui-toolbar-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mgui-toolbar-button.disabled,
.mgui-toolbar-button:disabled {
  background-color: #aaa;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
}

.mgui-toolbar-button:hover {
  background-color: #0056b3;
}

.mgui-toolbar-button.disabled:hover,
.mgui-toolbar-button:disabled:hover {
  background-color: #aaa;
}

.mgui-toolbar-button img {
  vertical-align: middle;
  margin-right: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
